body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainbuttons {
  background-color:  lightblue;
  border: 5px solid white;
  border-radius: 10%;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  
}
button:hover {
  background-color: grey;
  cursor: pointer;
  transform: scale(1.1);
}


.header{
  background: lightblue;
  margin-top: 0px;
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
}

#result-container{ 
  background-color: lightblue;
  border-radius: 5px;
  color: black;
  padding: 10px;
  border: 5px solid white; 
  justify-content: center;
}

#meta-results{ 

  padding: 10px;
  color: black;
  background-color: lightblue;
}

#results-table{

  border: 5px solid black;

}
#submit-button { 
  background-color: black;
  color: black;
  border: none;
}
#form-wrapper { 
  display: flexbox;
  flex: auto;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;

}

input, select{
  width: auto;
  height: 2 rem;
  border: 5px solid lightblue;
  border-radius: 5px;
  display: flex;
  font-weight: 800;
}
input:hover { 
  cursor:pointer;
}
label { 
  display: flex;
  font-weight: 400;
  margin-top: 15px;
  background-color: black;
}
select { 
  width: 10.5rem;

}
form { 
  margin:auto;
  align-content: center;
  width: 10rem;
}
#genData{
  width: 9.95rem;
}

#p-2 { 
  margin: auto;
  text-align: center;
}
table {
  margin: auto;
  width: 90%;
  background-color: black;
  border: 5px solid black; 
  border-radius: 5px;
  font-size: 2rem;

}
tr {
  background-color: white;

}

.nav{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.app{
  background-color: lightblue;
}

.site-title{
  font-size: 2rem;
}

.about{
  background-color: lightblue;
  text-align: left;
  margin: auto;
  width: 75%;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color:inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.hover{
  background-color: #777;
}

.nav li.active{
  background-color: #555;
}

.container {
  text-align: center;
}

