body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  background-color:  lightblue;
  border: 5px solid white;
  border-radius: 10%;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
}


.header{
  background: lightblue;
  margin-top: 0px;
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
}

#result-container{ 
  background-color: lightblue;
  border-radius: 5px;
  color: black;
  padding: 10px;
  border: 5px solid white; 
  justify-content: center;
}

#meta-results{ 

  padding: 10px;
  color: black;
  background-color: lightblue;
}

#results-table{

  border: 5px solid black;

}
#submit-button { 
  background-color: black;
  color: black;
  border: none;
}